# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/
ENV/

# Logs
*.log
logs/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de cache
.cache/
.pytest_cache/

# Artefatos de build
dist/
build/
*.egg-info/
